---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import avatar from '~/assets/images/darrel.png';
import boat from '~/assets/images/boat.jpg';
const metadata = {
  title: 'About us',
  description: 'Montana Trout Hunters is a premier fly fishing outfitter, located in the heart of Montana.',
};
---

<Layout metadata={metadata}>
  <!-- Content Widget **************** -->

  <Content
    title="About Montana Trout Hunters"
    subtitle="Montana Trout Hunters is a premier fly fishing outfitter, located in the heart of Montana."
    isReversed
    image={{
      src: boat,
      alt: 'Drift Boat Being Pulled By Truck',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <p>
        Founded by Darrel, a passionate angler and a professional photographer, the business has been guiding fly
        fishing enthusiasts since 2014. Darrel, a native of Billings, Montana, spent over 26 years serving in the Army
        and Air Force before returning home to pursue his passion for fly fishing.
      </p>
      <br />
      <p>
        With a love for the outdoors and a knack for teaching, Darrel launched Montana Trout Hunters to share his
        knowledge and expertise with others. Today, the outfitter offers a variety of fishing trips, including float
        trips on the <a href="/our-rivers/#madison-river">Madison</a> and <a href="/our-rivers/#missouri-river"
          >Missouri</a
        > rivers and walk/wade trips on the <a href="/our-rivers/#gallatin-river">Gallatin</a> River. They can also customize
        trips to other Montana rivers based on the clients' needs.
      </p>
    </Fragment>
  </Content>

  <!-- About Darrel ************** -->
  <Content
    title="About The Outfitter"
    id="about"
    columns={2}
    items={[
      {
        icon: 'tabler:brand-facebook',
        callToAction: {
          target: '_blank',
          text: 'Facebook',
          href: 'https://www.facebook.com/Montana.Trout.Hunters/',
        },
      },
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/montanatrouthunters/',
        },
      },
    ]}
    image={{
      src: avatar,
      alt: 'Darrel DeLeon',
      loading: 'eager',
      class: 'rounded-full w-32 h-32',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Darrel DeLeon</h2>
      <p class="text-muted">Lead Guide | Owner</p>
      <br />
      <p>
        Darrel's love for fishing began in his youth, fishing small mountain streams with his grandmother. However, it
        wasn't until he was introduced to fly fishing by his music pastor, Frank, in Colorado Springs that he truly fell
        in love with the sport. Darrel is constantly seeking new experiences and knowledge, traveling the world to learn
        from other guides, anglers, and adventures. He uses this knowledge to teach his clients how to become the best
        fly fishers on the river.
      </p>
      <br />
      <p>
        At Montana Trout Hunters, clients can expect to not only catch fish but also learn the art of fly fishing.
        Darrel's goal is to teach his clients how to properly fly fish, so they can consistently catch fish no matter
        where they are fishing in the world. The outfitter also provides quality photographs of their clients and their
        catches to ensure maximum bragging rights.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
