---
import Content from '~/components/widgets/Content.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';
import goodGear from '~/assets/images/goodgear.webp';
import driftBoats from '~/assets/images/driftboats.webp';
import clothing from '~/assets/images/clothing.webp';
import tippet from '~/assets/images/tippet.jpg';
const metadata = {
  title: 'Gear We Love',
  description: 'Good Gear Equals Good Times',
};
---

<Layout metadata={metadata}>
  <!-- Content Widget **************** -->
  <HeroText title="Gear We Love" subtitle="Good Gear Equals Good Times" />
  <Content
    id="gear-we-love"
    title="Our Gear Recommendations"
    subtitle="Tested and Trusted by Montana Trout Hunters"
    image={{
      src: goodGear,
      alt: 'Gear We Love',
    }}
    isReversed
  >
    <Fragment slot="content">
      <p>
        As a full-time fishing and hunting guide, I don't just use gear - I abuse the crap out of it. At Montana Trout
        Hunters, we take pride in providing our customers with the best possible equipment to ensure a successful and
        enjoyable fishing experience. With hundreds of clients every year, we have the opportunity to see and use a wide
        variety of equipment in real-world applications, giving us valuable insights into performance, durability, and
        demands put on gear in fishing applications.
      </p>
      <br />
      <p>
        In the following articles, we'll share some of our recommendations for gear that has survived our scrutiny and
        exceeded our expectations. From fly rods and reels to clothing and fly lines, we'll provide insights into what
        we believe are the best choices for Montana Trout Hunters. We hope that these recommendations will help you make
        informed decisions about the gear you choose for your next fishing adventure.
      </p>
    </Fragment>
  </Content>
  <Content
    id="boats"
    image={{
      src: driftBoats,
      alt: 'Drift Boats',
    }}
    title="Boats"
  >
    <Fragment slot="content">
      <p>
        Drift boats are an essential tool for fly fishing in Montana, and at Montana Trout Hunters, we rely on them
        every day to get our clients to some of the best fishing spots in the state. But what exactly is a drift boat,
        and why are they so important?
      </p>
      <br />
      <p>
        A drift boat is a specialized watercraft designed for fly fishing in rivers and streams. It's built to navigate
        shallow water and rocky terrain while providing a stable and comfortable platform for fishing. Drift boats are
        typically made of aluminum or fiberglass and range in length from 13 to 20 feet. They're propelled by oars and
        can be rowed by one or two people, depending on the size of the boat.
      </p>
      <br />
      <p>
        One of the biggest advantages of drift boats is their versatility. They're perfect for navigating tight channels
        and shallow water, which makes them ideal for fly fishing in Montana's rivers and streams. They also provide a
        stable platform for casting, which is essential when targeting Montana's premier trout. Additionally, drift
        boats are comfortable and can be outfitted with seats, dry storage, and other amenities to make your fishing
        trip as enjoyable as possible.
      </p>
      <br />
      <p>
        At Montana Trout Hunters, we take pride in our fleet of top-of-the-line drift boats. Our boats are meticulously
        maintained and equipped with all the necessary safety equipment to ensure a safe and enjoyable trip. We use
        high-quality oars and anchors to ensure that we can navigate even the toughest river conditions.
      </p>
      <br />
      <p>
        We rely on them every day to provide our clients with the best possible fishing experience. With a stable and
        comfortable platform, versatile navigation capabilities, and top-of-the-line equipment, our drift boats are
        designed to get you to the best fishing spots in the state.
      </p>
    </Fragment>
  </Content>
  <Content
    id="clothing"
    image={{
      src: clothing,
      alt: 'Fishing Clothing',
    }}
    title="Clothing"
    isReversed
  >
    <Fragment slot="content">
      <p>
        At Montana Trout Hunters, we know that preparation is key when it comes to fly fishing in Montana. One of the
        most common questions we get is about appropriate clothing for our adventures, and we understand that it's not
        always an easy question to answer. Montana is known for having the world record for the fastest temperature
        rise, and also for the fastest temperature drop. With such drastic weather changes, it's important to be
        prepared for anything.
      </p><br />
      <p>
        We recommend checking the weather before your trip to get an idea of what to expect. Other than winter,
        Montana's daily temperatures can range from high to low by roughly 40 degrees. A rain jacket is a must, as we
        can get a lot of rain in a short amount of time. Even if it's not raining, a light puffy jacket is never a bad
        idea.
      </p><br />
      <p>
        At Montana Trout Hunters, we want to make sure that our customers are comfortable and prepared for anything. We
        recommend dressing in layers, so you can adjust your clothing as needed throughout the day. This can include a
        base layer, mid-layer, and outer layer. We also recommend bringing a hat and sunglasses to protect yourself from
        the sun, as well as comfortable and sturdy footwear that can handle various terrain.
      </p><br />
      <p>
        Our seasoned guides understand that appropriate clothing is an essential part of being prepared for a successful
        and enjoyable fishing experience. We recommend checking the weather, dressing in layers, and bringing a rain
        jacket and puffy jacket for unexpected weather changes. With the right clothing and the guidance of our expert
        guides, you'll be well on your way to catching some of Montana's premier trout and having the experience of a
        lifetime.
      </p>
    </Fragment>
  </Content>
  <Content
    id="line"
    image={{
      src: 'https://images.unsplash.com/photo-1506192135-2afa42cfdca9?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Line',
    }}
    title="Line"
  >
    <Fragment slot="content">
      <p>
        At Montana Trout Hunters, we want to ensure that our customers have the best possible fishing experience. That's
        why we strongly recommend purchasing a new fly line before your trip, and we believe that Scientific Anglers is
        the best brand for the job.
      </p>
      <br />
      <p>
        While it may seem like a small detail, having the right fly line can make a big difference in your fishing
        success. Countless times a year, clients spend thousands of dollars on a trip to Montana, but neglect to spend
        $129 on a new line. The biggest problem we encounter is fly lines sinking, which can make it difficult to
        achieve a drag-free drift. As you know, presentation is everything in fly fishing, and if your flies are
        dragging through the water column, the chances of fish eating your fly are significantly diminished.
      </p>
      <br />
      <p>
        At Montana Trout Hunters, we primarily use Scientific Anglers Amplitude MPX taper for dry fly fishing and
        nymphing. We also use Air Flow lines in a variety of weights for streamer fishing. When it comes to streamer
        fishing, grain weight is more about the size of the streamer you're fishing and less about sink rates.
      </p>
      <br />
      <p>
        In conclusion, at Montana Trout Hunters, we believe that having the right fly line is essential to a successful
        and enjoyable fishing experience. We strongly recommend purchasing a new Scientific Anglers fly line before your
        trip to ensure that you have the best possible chance of catching Montana's premier trout. With the right fly
        line and the guidance of our expert guides, you'll be well on your way to an unforgettable fishing adventure.
      </p>
    </Fragment>
  </Content>
  <Content
    id="reels"
    image={{
      src: 'https://cdn.pixabay.com/photo/2017/02/12/15/51/reel-2060334_1280.jpg',
      alt: 'Fishing Reels',
    }}
    title="Reels"
    isReversed
  >
    <Fragment slot="content">
      <p>
        At Montana Trout Hunters, we know firsthand the importance of having a high-quality reel when you're fly fishing
        in Montana. Our premier rivers are home to some of the biggest and most powerful trout in the country, and
        having a reliable reel is essential to landing them.
      </p>
      <br />
      <p>
        When it comes to choosing a fly reel, there are several key attributes to consider. Durability, performance,
        price, and customer service are all important factors that can impact your fishing experience. We understand
        that there are many lightweight, aesthetically pleasing reels on the market, but we know that not all of them
        can stand up to the tough conditions of Montana's premier rivers.
      </p>
      <br />
      <p>
        We look for reels with an excellent sealed drag system that can keep out salt water and provide smoothness and
        low start-up inertia. Startup inertia is significant in the initial run of a powerful fish, and having a smooth
        sealed drag system with low start-up inertia can make all the difference when it comes to landing big trout.
      </p>
      <br />

      <p>
        All reel companies claim to have a smooth sealed drag system and low start-up inertia, but it can be difficult
        to determine these attributes with a new reel. At Montana Trout Hunters, we put our reels to the test by heavily
        using them in real fishing situations. This is when the features of the reel become more apparent, and it's also
        when customer service becomes invaluable. If a reel needs to be sent back for repairs, we expect a quick
        turnaround time to minimize downtime for our customers.
      </p>
      <br />

      <p>
        We have recommended certain reels in the past because they have passed our extreme scrutiny, but we know that
        the best reel for you may depend on your specific needs and experience level. That's why we offer high-quality
        reels from the best brands in the industry, and our experienced guides can help you choose the right reel for
        your fishing situation.
      </p>
      <br />

      <p>
        We understand the importance of having a high-quality reel when you're fly fishing in Montana. We offer the best
        reels in the industry, and our experienced guides are equipped with the tools to provide a successful and
        enjoyable fishing experience. With the right reel and the guidance of our expert guides, you'll be well on your
        way to catching some of Montana's premier trout and having the experience of a lifetime.
      </p>
    </Fragment>
  </Content>
  <Content
    id="rods"
    image={{
      src: 'https://images.unsplash.com/photo-1651185474204-755539a9c547?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Fishing Rods',
    }}
    title="Rods"
  >
    <Fragment slot="content">
      <p>
        At Montana Trout Hunters, we understand the importance of great equipment when it comes to fly fishing. Your fly
        rod is one of the most important pieces of gear you'll need, and choosing the right one can greatly impact your
        fishing experience.
      </p><br />
      <p>
        There are many factors to consider when choosing a fly rod, including weight, length, and action. For most
        anglers, a 9-foot, 5-weight rod is a good all-around choice. It's versatile enough to handle a variety of
        fishing situations and can be used for both dry fly fishing and nymphing. If you plan to fish larger rivers or
        use larger flies, a 6-weight rod may be a better choice. On the other hand, a 4-weight rod is a good option for
        fishing smaller creeks and streams. These rods are lightweight, shorter, and can make for a more enjoyable
        casting experience.
      </p><br />
      <p>
        At Montana Trout Hunters, we offer high-quality fly rods and other equipment for our customers to use when they
        hire our guides. Our guides are experienced professionals who use the best brands and models in the industry.
        They have extensive experience using a variety of rods and can help you choose the right one for your specific
        needs and experience level.
      </p><br />
      <p>
        When it comes to choosing a fly rod, we believe that trying out several options is the best way to find the
        right fit. That's why we offer casting classes and demo opportunities for our customers. Our goal is to help you
        find the perfect rod that feels comfortable in your hand and helps you catch more fish.
      </p><br />
      <p>
        We believe that great equipment is essential for a successful and enjoyable fly fishing experience. We offer
        high-quality fly rods, reels, lines, and other gear, and our experienced guides are equipped with the best tools
        to provide a successful and enjoyable fishing experience. With the right equipment and the guidance of our
        expert guides, you'll be well on your way to catching some of Montana's premier trout and having the experience
        of a lifetime.
      </p>
    </Fragment>
  </Content>
  <Content
    id="tippet"
    image={{
      src: tippet,
      alt: 'Tippet',
    }}
    title="Tippet"
    isReversed
  >
    <Fragment slot="content">
      <p>
        Tippet is a critical part of any angler's gear, and selecting the right tippet can make all the difference in
        your fishing success. At Montana Trout Hunters, we've seen many people make big mistakes when it comes to tippet
        selection, and it can lead to lost flies and missed opportunities.
      </p><br />
      <p>
        When it comes to tippet material, some anglers prefer nylon for dry flies and fluorocarbon for nymphs, but at
        Montana Trout Hunters, we use fluorocarbon for everything. Fluorocarbon tippet has several advantages over
        nylon, including being less visible in the water and having higher abrasion resistance.
      </p><br />
      <p>
        It's important to note that selecting the right tippet size is also crucial. We recommend using 4x fluorocarbon
        for most situations in Montana, with the exception of Spring Creeks where large, educated trout may be "tippet
        shy." Some anglers argue that smaller tippets need to be used for dry fly fishing, but if you present the fly
        properly, you can use 1x tippet if you could get it through the eye of the hook.
      </p><br />
      <p>
        It's important to remember that tippet is the weakest point in your leader setup, so it's crucial to inspect it
        regularly for any signs of wear and tear. It's also important to replace your tippet frequently, especially
        after catching several fish or if it's been exposed to heavy use.
      </p><br />
      <p>
        Selecting the right tippet is crucial for your fishing success. At Montana Trout Hunters, we recommend using
        fluorocarbon tippet in 4x for most situations in Montana, but it's important to do your research and select the
        tippet that best meets your needs. By selecting the right tippet and inspecting it regularly, you'll be well on
        your way to landing more fish on the river.
      </p>
    </Fragment>
  </Content>
  <Content
    id="waders"
    image={{
      src: 'https://images.unsplash.com/photo-1661348581998-8def028c2509?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Waders',
    }}
    title="Waders"
  >
    <Fragment slot="content">
      <p>
        As a full-time fishing and hunting guide in Montana, few things give me more anxiety than recommending waders to
        someone. Personally, I hate waders - or at least I used to, until I broke down and bought a pair with a "pee"
        zipper. Life-changing! Now, I tolerate waders in torrential rainstorms and when temperatures fall below 40
        degrees.
      </p><br />
      <p>
        If you must wear waders, breathable Gore-Tex waders are by far the most comfortable option. Chest waders with a
        front zipper are life-changing, but the $1000 price tag is outrageous. As a guide, I have tried and tested many
        different brands and styles of waders, and my favorite are quick-dry pants and Chaco sandals. At times, I will
        trade my river sandals for neoprene socks and wading boots.
      </p><br />
      <p>
        On a more serious note, if you do wear waders, please wear your wading belt and make sure it is almost
        uncomfortably tight. The belt will not prevent your waders from filling with water if you take a river bath, but
        if worn properly, it will buy you a few extra seconds to get back on your feet before you turn into a buoy.
        Working in this industry exposes us to tragedy on an annual basis and reminds us how unforgiving the river can
        be for even the slightest mistake.
      </p><br />
      <p>
        Waders can be a necessary evil for fishing in Montana's rivers and streams, but there are comfortable and
        affordable options available. At Montana Trout Hunters, we recommend breathable Gore-Tex waders with a front
        zipper if you must wear them, but we also encourage our clients to consider quick-dry pants and Chaco sandals as
        a comfortable alternative. And, as always, remember to wear your wading belt and stay safe on the river.
      </p>
    </Fragment>
  </Content>
  <Content
    id="boots"
    image={{
      src: 'https://images.unsplash.com/photo-1498082352534-00214cbeb658?ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Wading Boots',
    }}
    title="Wading Boots"
    isReversed
  >
    <Fragment slot="content">
      <p>
        Wading boots are an essential piece of gear for any angler fishing Montana's rivers and streams. But, before you
        show up for a guided float trip, please do not wear studded boots. Studded boots will absolutely ruin the floor
        of your guide's boat, and he or she is likely to test your swimming prowess.
      </p><br />
      <p>
        When it comes to purchasing wading boots, careful thought should be given to the decision. Several years ago, a
        war raged against felt boots, claiming they were responsible for the transfer of harmful aquatic species.
        However, what the industry failed to address was the other textiles within the boot, waders, and socks. In the
        end, felt made a comeback for one reason: nothing works better.
      </p><br />
      <p>
        It's worth noting that Yellowstone National Park does not permit felt boots while fishing in the park.
        Therefore, anglers fishing in Yellowstone must use non-felt alternatives.
      </p><br />
      <p>
        When selecting wading boots, look for boots that are comfortable and durable, with good ankle support and grip
        on wet, slippery rocks. Rubber soles with a good tread pattern are an excellent alternative to felt, and some
        anglers prefer them due to their durability and ease of maintenance.
      </p><br />
      <p>
        At Montana Trout Hunters, we recommend rubber-soled wading boots with a good tread pattern, but we also
        encourage our clients to do their research and select the boots that best meet their needs. Ultimately, having
        the right wading boots will provide the necessary grip and stability to safely navigate Montana's rivers and
        streams.
      </p>
    </Fragment>
  </Content>
</Layout>
