---
import Layout from '~/layouts/PageLayout.astro';
import Features3 from '~/components/widgets/Features3.astro';

import Image from '~/components/common/Image.astro';
import BeholdWidget from '~/components/widgets/Behold.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import davidvanderpool from '~/assets/images/testimonials/david-vanderpool.jpeg';
import logo from '~/assets/images/mth-full-logo.svg';
import { getPermalink } from '~/utils/permalinks';
import HeroText from '~/components/widgets/HeroText.astro';
const metadata = {
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Header Image ******************* -->

  <Image class="w-1/2 mx-auto" src={logo} alt="Montana Trout Hunters Logo" layout="contained" loading="eager" />

  <HeroText
    subtitle="Develop Skills, Land Big Fish"
    content="At Montana Trout Hunters, we're not just about fishing - we're about empowering you with the knowledge, technique, and experience necessary to catch, fight, and land the big ones. Our expert guides bring years of experience to the table, ensuring that when you find that fish of a lifetime at the end of your line, you're ready to reel it in successfully."
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Our Mission:</span> Empowering Anglers
    </Fragment>
  </HeroText>
  <!-- Features3 Widget ************** -->
  <Features3
    title="Discover the Splendor of Montana"
    subtitle=`We are a premier fly fishing outfitter, based in the heart of Montana. 
    Our float trips on the <a href="${getPermalink('/our-rivers/#madison-river')}">Madison</a> and <a href="${getPermalink('/our-rivers/#missouri-river')}">Missouri</a> rivers 
    and walk/wade trips on the <a href="${getPermalink('/our-rivers/#gallatin-river')}">Gallatin</a> River provide unparalleled access to some of the best trout fishing in the world. Whether you are a seasoned angler or a beginner, we can help you plan your next exciting and personalized trip.`
    columns={2}
    isBeforeContent={true}
    items={[
      {
        title: 'Our Approach',
        description:
          'At Montana Trout Hunters, we take a holistic approach to fly fishing. We believe that fishing is not just about catching fish, but about connecting with nature, exploring new places, and creating lasting memories. Our guides are not just expert anglers, but also knowledgeable naturalists and passionate storytellers. We strive to provide our guests with an unforgettable experience, both on and off the water.',
        icon: 'tabler:tree',
      },
      {
        title: 'Plan Your Trip Today',
        description:
          'We are committed to providing you with a world-class fishing experience, tailored to your specific needs and preferences. Whether you are looking for a day trip, a multi-day adventure, or a customized package, we can help you plan the perfect trip. Let Darrel know how we can assist you in planning your next fishing trip in Montana.',
        icon: 'tabler:map-pin',
        callToAction: {
          text: 'Contact Us',
          href: getPermalink('/contact'),
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  <BeholdWidget beholdId="fF1NfQr9i4oSZVYeMfud" />
  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `I've fished with Darrel many times, and he consistently exceeds expectations. He's a skilled instructor, his preparation is meticulous, and he's just great company. You won't regret booking a trip with him.`,
        name: 'David Vanderpool',
        image: {
          src: davidvanderpool,
          alt: 'David Vanderpool',
        },
      },
      {
        testimonial: `Darrel delivers more than just fish. His deep knowledge and tailored approach ensure you learn and catch plenty. Whether you're a beginner or seasoned angler, he'll help you maximize your day on the river.  His professionalism and organization make every trip smooth and enjoyable. Highly recommended!`,
        name: 'Bill Noonan',
      },
      {
        testimonial: `Ever since I found Darrel, my fishing trips have been consistently amazing. He's hardworking, passionate, and knows how to find fish even on tough days.  He's great with anglers of all levels and truly wants you to have an incredible experience. Plus, he's just a good guy!  Highly recommend booking with him.`,
        name: 'Tom Layson',
      },
    ]}
  />
</Layout>
